.postModalDialog .MuiDialog-container .MuiPaper-root {
	border-radius: 0 5px 5px 0;
	display: flex;
	flex-direction: row;
	width: 90vw;
	max-width: 1400px;
	min-height: 90vh;
}

@media (max-width: 426px) {
	.postModalDialog .MuiDialog-container .MuiPaper-root {
		flex-direction: column;
		width: 100vw;
		min-height: 100vh;
		border-radius: 0;
		margin: 0;
		max-width: none;
		position: relative;
	}
}
